.dropbtn {
    color: white;
    padding-top: 15px;
    border: none;
    cursor: pointer;
    color: #888888;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
    right: 0;
    border: solid 1px rgb(66, 66, 66);
}

.dropdown-content a {
    color: rgb(207, 207, 207);
    padding: 4px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    color: rgb(172, 172, 172);
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover{
    color: white;
}