{% block top %}
{% endblock %}

<!-- Navbar Starts Here -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <!-- Mobile Navbar -->
        <div class="navbar-header">
            <!-- <a class="navbar-brand" href=""> -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                All Pages
            </button>
            <!-- </a> -->
            <a class="navbar-brand" href="{{ url_for('index') }}">
                Doxbin
            </a>
        </div>

        <!-- Desktop Navbar -->
        <div id="navbar" class="collapse navbar-collapse">

            <!-- Left -->
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{{ url_for('index') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('new_paste') }}">
                        Add Paste
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('hall_of_loosers') }}">
                        Hall of Loosers
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('tos') }}">
                        TOS
                    </a>
                </li>
            </ul>

            <!-- Right -->
            <div class="sidebar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('list_of_pages') }}">All Pages</a></li>
                </ul>
            </div>

        </div>

    </div>
</nav>
<!-- Navar Ends Here -->

{% block bottom %}
{% endblock %}